<!-- views/bookmarks/edit.erb -->

<form method="POST" action='/bookmarks/<%= @bookmark.id %>'>
  <input type = "hidden" name="_method" value="PATCH">
  <label for="title">Title:</label>
    <input id="title" type="text" name="title" value="<%= @bookmark.title %>">
  </label>
  <label for="url">URL:
    <input id="url" type="text" name="url" value="<%= @bookmark.url %>">
  </label>
  <input type="submit" value="Update">
</form>