Bookmark Manager
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%=bookmark.url%>">
      <%= bookmark.title %></li>
    </a>
  <% end %>
</ul>
<form action="/bookmarks/add">
  <input type="submit" value="Add bookmark">
</form>