<!-- ./views/bookmarks/new.erb -->

<div class="add-bookmark">
  <form method="POST" action='/bookmarks'>
    <label for="title">Title:
      <input id="title" type="text" name="title" />
    </label>
    <label for="bookmark-url">URL:
      <input id="url" type="text" name="url" />
    </label>
    <input type="submit" value="Add Bookmark">
  </form>
</div>