<!-- ./views/bookmarks/new.erb -->

<div class="add-bookmark">
  <form method="POST" action='/bookmarks-new'>
    <label for="bookmark-url">URL:</label>
    <input id="url" type="text" name="url" /><br>
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" />
    <input type="submit" value="Add Bookmark">
  </form>
</div>